<!-- This file controls the view for the non-editable version of the plays.
It can be found at app/views/edits/show.html.erb -->

<!-- This file uses the app/assets/stylesheets/plays.scss file for controlling its css. -->

<!-- NOTE: The code in this file and the show.html.erb for the non-editable versions
of the plays is almost identical except for the parts pertaining to making edits.
This means that changes to non-editing parts of the view need to be made in both show files.
However, they both utilize the same .scss file. -->




<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>

<body>


    <!--
        The synopsis will show up here as a popup.
        TODO: Currently the synopsis button does not work.
    -->
    <div id="synopsis-modal" class="shown-modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="hidden-synopsis" id="hidden-synopsis"></div>
        </div>
    </div>

    <!--
        The save indicator show up here as a popup
    -->
    <div id="save-modal" class="shown-modal">
        <div class="modal-content">
            <div class="hidden-save" id="hidden-save">
              <h3>Saving Please Wait</h3>
            </div>
        </div>
    </div>

    <!--
        The analytics will show up here as a popup.
    -->
    <div class="modal" tabindex="-1" role="dialog" id="analytics-modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <ul class="nav nav-tabs noMargin" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Line Analytics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Generate Cue Script</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" style="">Character Relation Analytics</a>
              </li>
              <li class="nav-item my-2 my-lg-0">
                <button type="button" class="close noMargin" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </li>
            </ul>
          <div class="modal-body" id="analyticsBody">
              <!--gets dynamically inserted in edits.js-->
          </div>
        </div>
      </div>
    </div>


      <span id=<%=@edit.id %> class="playEditId"></span>
      <div class="row" id="collapseExample">
        <div class="col-sm-3 bd-sidebar sidebar fixed-top " id="sidebar">
          <div class="accordion">
            <h6 class=" accordion-h6" id="play-analytics">Analytics</h6>
          </div>
          <% @play = Edit.find(params[:id]).play%>
          <% @acts = @play.acts %>
          <% @acts.each do |act| %>
          <div class="accordion">
              <h6 class="accordion-toggle accordion-h6">Act <%= act.number %></h6>
                <div class="accordion-content">
                  <% act.scenes.each do |scene| %>
                  <p class="sceneMenu" id="scene<%= scene.number %>">
                      Scene <%= scene.number %>
                    <%end%>
                  </p>
              <!-- <p class="sceneMenu" id="scene2">
                Scene 2
              </p> -->
            </div>
          </div>
        <%end%>
        </div>
        <div class="col-sm-3">
          <!--this is a hack to fix spacing on page -->


        </div>
        <div class="col-sm-6" id="PlaySection">
        <!--this area displays the script itself-->
        <h4 style="margin-left: 10px" id="actName"> Act 1 :</h4>
        <h6 style="margin-left: 10px" id="sceneName"> Scene 1</h6>

            <% lineNum = 1 %>
            <% @scene.each do |lineGroup| %>
              <% puts "#{lineGroup}" %>
              <% if lineGroup[0]=="STAGE" %>
                <table class="script-Table">
                  <% lineGroup[1].each do |line| %>
                    <!--each line in a characters speaking part-->
                    <tr>
                      <td>
                        <em>
                          <%= line[1][0][2].to_s() %>
                        </em>
                      </td>
              <% end %>
                </tr>
              </table>
              <% else %>
              <!--this loops through each characters speaking part in the scene-->
              <table class="script-Table">
                <col span="1" class="lineNumer">
                <tr>
                  <td><strong> <%= lineGroup[0] %></strong> </td>
                </tr>
                <% lineGroup[1].each do |line| %>

                  <!--each line in a characters speaking part-->
                  <tr class="lineRow">
                    <td class ="lineNumer"><%= lineNum.to_s() %></td>
                    <td class="lineText">
                      <!--render line -->
                      <% line[1].each do |word|%>
                        <% if word[0] %>
                        <span  class="word del" id=<%= word[1].to_s() %>>
                          <!--detect if word has been removed from play-->
                            <%= word[2].to_s() %>
                        </span>

                        <% else %>
                       <span  class="word" id=<%= word[1].to_s() %>>
                          <!--detect if word has been removed from play-->
                         <%= word[2].to_s() %>
                        </span>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                  <% lineNum += 1%>
                <% end %>
              </table>

            <% end %>
          <% end %>


        </div>

        <div class="col-sm-3">
          <!--additional space if we want to put anything on the left -->

          </head>
          <body>

          <div class="dropdown">
            <button onclick="groupDropdown()" class="dropbtn">
              <%= current_user.user_name %>'s Groups</button>
              <div id="myDropdown" class="dropdown-content">
                <% groups = current_user.getUserGroups(current_user.id) %> <!--list of user groups -->
                <% groups.uniq.each do |group| %>
                  <% if group[1] == -1 %>
                    <a class="groupToggle" id="group-1">User Edit</a>
                  <% else %>
                    <a class="groupToggle" id=<%="group" + String(group[1])%> >Group <%= group[0]%></a>
                  <% end %>
                <% end %>
              </div>
            </div>

          <script>
          /* When the user clicks on the button,
          toggle between hiding and showing the dropdown content */
          function groupDropdown() {
              document.getElementById("myDropdown").classList.toggle("show");
          }

          // Close the dropdown if the user clicks outside of it
          window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }


          </script>


          <!--<TABLE BORDER="0">-->
            <!--<TR>-->
              <!--<TD class = "select"> <%=current_user.user_name %>'s Groups-->
                <!--<select onChange="window.location.href=this.value">-->
                  <% groups = current_user.getUserGroups(current_user.id) %> <!--list of user groups -->
                  <!--<% groups.uniq.each do |group| %>-->
                    <!--<% if group[1] == -1 %>-->
                      <!--<option value = "/edits/new/<%=current_user.id%>"> User Edit </option>-->
                    <!--<% else %>-->
                      <!--<option value="/edits/show/<%=group[0]%>"> Group <%= group[0]%> </option>-->
                    <!--<% end %>-->
                  <!--<% end %>-->
                <!--</select>-->
              <!--<TD ALIGN="center"></TD>-->
              <!--</TD>-->
            <!--</TR>-->
          <!--</TABLE>-->

        </div>

        </div>




    <!--
    This is the code for the bar on the right side of the screen that explains
    how to strikethrough text and contains the buttons for saving and toggling
    between views.
    -->
    <!--<div class="script-editor col-md-2">-->
      <!--<div class="edit-explanation">-->

            <!--<span class="edit-explanation-text">-->
            <!--Click and drag in order to strikethrough words.-->
            <!--</span>-->

        <!--<span class="edit-explanation-text">-->
            <!--Hold down shift, click, and drag in order to-->
            <!--</span>-->

        <!--<span class="edit-explanation-text">-->
            <!--unstrikethrough words.-->
            <!--</span>-->

      <!--</div>-->


    <!--</div>-->


    <!--</div>-->




</body></html>
