




<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>

<body>
    <!--
        The analytics will show up here as a popup.
    -->
    <div class="modal" tabindex="-1" role="dialog" id="analytics-modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <ul class="nav nav-tabs noMargin" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Line Analytics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Generate Cue Script</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" style="">Character Relation Analytics</a>
              </li>
              <li class="nav-item my-2 my-lg-0">
                <button type="button" class="close noMargin" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </li>
            </ul>
          <div class="modal-body" id="analyticsBody">
              <!--gets dynamically inserted in edits.js-->
          </div>
        </div>
      </div>
    </div>
      <span id=<%=@edit.id %> class="playEditId"></span>
      <div class="row" id="collapseExample">
        <div class="col-sm-3 bd-sidebar sidebar fixed-top " id="sidebar">
          <div class="accordion">
            <h6 class=" accordion-h6" id="play-analytics">Analytics</h6>
          </div>
          <% @scene_id_map.each do |actNumber, sceneList| %>
          <div class="accordion">
              <h6 class="accordion-toggle accordion-h6">Act <%= actNumber %></h6>
                <div class="accordion-content">
                  <% sceneList.each do |sceneDict| %>
                    <% sceneDict.each do |sceneNumber, sceneID| %>
                  <p class="sceneMenu" id="<%=sceneID %>">
                      Scene <%= sceneNumber %>
                    <%end%>
                  <%end%>
                  </p>
              <!-- <p class="sceneMenu" id="scene2">
                Scene 2
              </p> -->
            </div>
          </div>
        <%end%>
        </div>

        <div class="col-sm-3">
          <!--this is a PROhaxz to fix spacing on page -->
        </div>
        <div class="col-sm-6" id="PlaySection">
        <!--this area displays the script itself-->
        <h4 style="margin-left: 10px" id="actName"> Act 1 :</h4>
        <h6 style="margin-left: 10px" id="sceneName1" class="sceneName"> Scene 1</h6>

            <% lineNum = 1 %>
            <% @scene.each do |lineGroup| %>
              <%cache lineGroup do %>
              <% puts "#{lineGroup}" %>
              <% if lineGroup[0]=="STAGE" %>
                <table class="script-Table">
                  <% lineGroup[1].each do |line| %>
                    <!--each line in a characters speaking part-->
                    <tr>
                      <td>
                        <em>
                          <%= line[1][0][2].to_s() %>
                        </em>
                      </td>
              <% end %>
                </tr>
              </table>
              <% else %>
              <!--this loops through each characters speaking part in the scene-->
              <table class="script-Table">
                <col span="1" class="lineNumer">
                <tr>
                  <td><strong> <%= lineGroup[0] %></strong> </td>
                </tr>
                <% lineGroup[1].each do |line| %>

                  <!--each line in a characters speaking part-->
                  <tr class="lineRow">
                    <td class ="lineNumer"><%= lineNum.to_s() %></td>
                    <td class="lineText">
                      <!--render line -->
                      <% line[1].each do |word|%>
                        <% if word[0] %>
                        <span  class="word del" id=<%= word[1].to_s() %>>
                          <!--detect if word has been removed from play-->
                            <%= word[2].to_s() %>
                        </span>

                        <% else %>
                       <span  class="word" id=<%= word[1].to_s() %>>
                          <!--detect if word has been removed from play-->
                         <%= word[2].to_s() %>
                        </span>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                  <% lineNum += 1%>
                <% end %>
              </table>
            <% end %>
          <% end %>
          <% end %>

        </div>

        <div class="col-sm-3">
          <!--additional space if we want to put anything on the left -->

          <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.user_name %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% groups = current_user.getUserGroups(current_user.id) %> <!--list of user groups -->
              <% groups.uniq.each do |group| %>
                <% if group[1] == -1 %>
                  <a class="dropdown-item groupToggle" id="group-1">User Edit</a>
                  <% else %>
                  <a class="dropdown-item groupToggle" id=<%="group" + String(group[1])%> >Group <%= group[0]%></a>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
