<!-- This file controls the view for user's profile pages.
It can be found at app/views/users/show.html.erb -->

<!-- This file's corresponding .scss file can be found at app/assets/stylesheets/users.scss -->
<%= javascript 'application' %>
<html>
<body style = "background-color: white; padding-top: 0px;">

<!-- This will display the name of the current user. -->
<h1 style ="text-align: center"><%= current_user.user_name%>'s Admin Page</h1>

<hr>

<div class="container">
<span id="<%=current_user.id %>" class="adminId"></span>
   <div class="buttons" style="text-align: center;">
        <button id="groupBtn" type="button" class="btn btn-info">Add New Group</button>
        <button id="adminBtn" type="button" class="btn btn-info">Add Admin</button>
   </div>
        <!-- The Modal -->
        <div id="groupModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <br>
            <h4>Add New Group</h4>
            <br>
            <button id="createGroup" type="button" class="btn btn-info" style="width: 150px; text-align: center">Create Group</button>
            <br>
              <!-- Example here: https://datatables.net/examples/api/select_row.html -->
              <table id="allUsersGroups" class="table table-hover" style="width:100%" >
                <thead>
                  <tr>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  <% @active_users.each do |usr| %>
                  <tr>
                    <td><%=usr[1]%></td>
                  </tr>
                  <% end %>
                </tbody>
            </table>
          </div>
        </div>

      <!-- <button id="adminBtn" type="button" class="btn btn-info">Add Admin</button>
      <!-- The Modal -->
        <div id="adminModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">

            <h4>Add Admin</h4>
            <br>
            <button id="createGroup" type="button" class="btn btn-info" style="width: 150px; text-align: center">Make Admin</button>
            <br>
            <table id="allUsersAdmin" class="table table-hover" style="width:100%">
                <thead>
                  <tr>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  <% @active_users.each do |usr| %>
                  <tr>
                    <td><%=usr[1]%></td>
                  </tr>
                  <% end %>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Name</th>
                  </tr>
                </tfoot>
            </table>
          </div>
        </div>
        <style>

        </style>

            <script>
                // $(
                $(document).ready(function() {
                    // When the user clicks on the button, open the modal
                    $("#groupBtn").click(function(){
                        $("#groupModal").modal('show');

                        var table = $('#allUsersGroups').DataTable();
                        $('#allUsersGroups tbody').on( 'click', 'tr', function () {
                            $(this).toggleClass('table-active');
                        } );
                        $('.createGroup').click( function () {
                            alert( table.rows('.table-active').data().length +' row(s) active' );
                        } );

                    });

                    $("#adminBtn").click(function(){

                        $("#adminModal").modal('show');
                        var table = $('#allUsersAdmin').DataTable();

                        $('#allUsersAdmin tboday').on( 'click', 'tr', function () {
                            $(this).toggleClass('table-active');
                        } );

                        $('.createAdmin').click( function () {
                            alert( table.rows('.table-active').data().length +' row(s) active' );
                        });

                    });

                    $(".groupToggle").click(function(){
                        console.log("theheh");
                        var groupNum = this.id.slice(5);
                        $.get('/getUsers/1') //get HTML to insert
                            .done(function(data)
                            {
                                console.log(data);
                            });
                    })
                });

                // When the user clicks anywhere outside of the modal, close it
                var modal = document.getElementsByClassName("modal")[0];
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            </script>
    </div>

    <ul class="list-group">

      <br>

      <h2 style="font-weight: normal">Groups</h2>
        <% groups = current_user.getGroups %>
        <% groups.uniq.each do |group| %>
           <a style="padding-left: 5px; font-size: 100%" class="groupToggle" id=<%="group" + String(group[1])%> href="edits/play_id"> <%=group[0]%> </a>
        <% end %>
    </ul>

      <!-- this area displays the each group's info' -->
      <br>
      <br>
      <br>
      <br>
      <br>

          <h2 style="font-weight: normal; padding-left: 35px" > Groups & Members </h2>
          <div style="padding-left: 35px;">
            <%= @group_users.each do |key, val| %>
              <%= key %>
              <br>
              <% val.each do |lst| %>
              <%= lst[1] %>
              <% end %>
              <br>
            <% end %>
          </div>

</body>

</html>
