<html><body style = "background-color: #faebd7; padding-top: 0px;">

<h1><%= @user.user_name%>'s Profile</h1>

<br> <br>
<p>
  <div class = "profile-display">
<table style="width:30%">
 <tr class = "user_field">
   <td><strong>Name:</strong></td>
   <td><%= @user.user_name%></td>
 </tr>
 <tr class = "user_field">
   <td><strong>Email:</strong></td> 
   <td><%= @user.email %></td>
 </tr>
 <tr class = "user_field">
   <td><strong>Major:</strong></td>
   <td><%= @user.major %></td>
 </tr>
 <tr class = "user_field">
   <td><strong>Class of:</strong></td>
   <td><%= @user.grad_year %></td>
 </tr>
</table>
<br>
<%- if @user.enrolled %>
    <strong>Currently Enrolled in Shakespeare</strong>
   <%- else %>
    <strong>Not Currently Enrolled in Shakespeare</strong>
   <% end %>
</div>
</p>

<br> <br> <br> <br> <br>

<div class = "saved-edits">
  <div class = "title-card">
    <%= @user.user_name%>'s Saved Edits
  </div>
  <% edits = Edit.where(:user_id => @user.id) %>
  <% edits.each do |edit| %>
    <% editLink = "/edits/" + edit.id.to_s %>
    <a href = <%= editLink %> >
    <div class = "card">
      <%= edit.play.title%>
      <br/>
      <%= " edit created at " + edit.created_at.to_s%>
    </div>
    </a>
  <% end %>
</div>

</body></html>
