<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
    <p id="notice"></p>

    <% doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/MND.xml"))

    if "#{request.fullpath}" == "/plays/a_midsummer_nights_dream"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/MND.xml"))
    elsif "#{request.fullpath}" == "/plays/alls_well_that_ends_well"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/AWW.xml"))
    elsif "#{request.fullpath}" == "/plays/antony_and_cleopatra"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Ant.xml"))
    elsif "#{request.fullpath}" == "/plays/as_you_like_it"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/AYL.xml"))
    elsif "#{request.fullpath}" == "/plays/coriolanus"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Cor.xml"))
    elsif "#{request.fullpath}" == "/plays/cymbeline"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Cym.xml"))
    elsif "#{request.fullpath}" == "/plays/hamlet"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Ham.xml"))
    elsif "#{request.fullpath}" == "/plays/henry_iv_part_1"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/1H4.xml"))
    elsif "#{request.fullpath}" == "/plays/henry_iv_part_2"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/2H4.xml"))
    elsif "#{request.fullpath}" == "/plays/henry_v"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/H5.xml"))
    elsif "#{request.fullpath}" == "/plays/henry_vi_part_1"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/1H6.xml"))
    elsif "#{request.fullpath}" == "/plays/henry_vi_part_2"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/2H6.xml"))
    elsif "#{request.fullpath}" == "/plays/henry_vi_part_3"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/3H6.xml"))
    elsif "#{request.fullpath}" == "/plays/henry_viii"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/H8.xml"))
    elsif "#{request.fullpath}" == "/plays/julius_caesar"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/JC.xml"))
    elsif "#{request.fullpath}" == "/plays/king_john"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Jn.xml"))
    elsif "#{request.fullpath}" == "/plays/king_lear"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Lr.xml"))
    elsif "#{request.fullpath}" == "/plays/loves_labors_lost"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/LLL.xml"))
    elsif "#{request.fullpath}" == "/plays/lucrece"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Luc.xml"))
    elsif "#{request.fullpath}" == "/plays/macbeth"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Mac.xml"))
    elsif "#{request.fullpath}" == "/plays/measure_for_measure"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/MM.xml"))
    elsif "#{request.fullpath}" == "/plays/much_ado_about_nothing"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Ado.xml"))
    elsif "#{request.fullpath}" == "/plays/othello"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Oth.xml"))
    elsif "#{request.fullpath}" == "/plays/pericles"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Per.xml"))
    elsif "#{request.fullpath}" == "/plays/richard_ii"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/R2.xml"))
    elsif "#{request.fullpath}" == "/plays/richard_iii"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/R3.xml"))
    elsif "#{request.fullpath}" == "/plays/romeo_and_juliet"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Rom.xml"))
    elsif "#{request.fullpath}" == "/plays/shakespeares_sonnets"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Son.xml"))
    elsif "#{request.fullpath}" == "/plays/taming_of_the_shrew"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Shr.xml"))
    elsif "#{request.fullpath}" == "/plays/the_comedy_of_errors"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Err.xml"))
    elsif "#{request.fullpath}" == "/plays/the_merchant_of_venice"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/MV.xml"))
    elsif "#{request.fullpath}" == "/plays/the_merry_wives_of_windsor"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Wiv.xml"))
    elsif "#{request.fullpath}" == "/plays/the_phoenix_and_turtle"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/PhT.xml"))
    elsif "#{request.fullpath}" == "/plays/the_tempest"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Tmp.xml"))
    elsif "#{request.fullpath}" == "/plays/the_two_gentlemen_of_verona"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/TGV.xml"))
    elsif "#{request.fullpath}" == "/plays/the_two_noble_kinsmen"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/TNK.xml"))
    elsif "#{request.fullpath}" == "/plays/the_winters_tale"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/WT.xml"))
    elsif "#{request.fullpath}" == "/plays/timon_of_athens"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Tim.xml"))
    elsif "#{request.fullpath}" == "/plays/titus_andronicus"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Tit.xml"))
    elsif "#{request.fullpath}" == "/plays/troilus_and_cressida"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Tro.xml"))
    elsif "#{request.fullpath}" == "/plays/twelfth_night"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/TN.xml"))
    elsif "#{request.fullpath}" == "/plays/venus_and_adonis"
        doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/Ven.xml"))
    end %>

    <!-- Get title of play and display at top of page -->
    <div class="script-title">
        <div id="Home-button">
            <a id="home" href="/">Home</a>
        </div>
        <div id="play-title">
            <p id="title"></p>
        </div>
        <% title = doc.css('title').first %>
        <script>
            document.getElementById('title').innerHTML = '<%= escape_javascript title.inner_text %>';
        </script>
    </div>

    <!-- Create the navigation bar -->
    <div class="script-side-bar">
        <div class="play-navigation">

            <!-- This button shows the play's synopsis -->
            <button class="nav-synopsis" id="synopsis-button">SYNOPSIS</button>
            <!-- Button to show play analytics -->
            <button class="nav-analytics" id="analytics-button">ANALYTICS</button>
            <% currAct = 1 %>
            <% currScene = 1 %>
            <% currIndex = 1 %>

            <% acts= doc.css('//div1') %>
            <% acts.each do |act| %>
                <button class="nav-act" id="current-act"><%= "ACT " + currAct.to_s %></button>
                <script>
                    document.getElementById('current-act').id = '<%= escape_javascript "a" + currAct.to_s %>';
                </script>

                <% currAct = currAct + 1 %>
                <% currScene = 1 %>
                <% scenes = Nokogiri::XML(act.to_s).css('//div2') %>
                <% scenes.each do |scene| %>
                    <button class="nav-scene" id="current-scene"><%= "SCENE " + currScene.to_s %></button>
                    <script>
                        document.getElementById('current-scene').id = '<%= escape_javascript "s" + currIndex.to_s %>';
                    </script>
                    
                    <% currScene = currScene + 1 %>
                    <% currIndex = currIndex + 1 %>
                <% end%>
            <%end%>
        </div>
    </div>

    <!-- Synopsis will show up here as a popup -->  
    <div id="synopsis-modal" class="shown-modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="hidden-synopsis" id="hidden-synopsis"></div>
            <% synopsistext = doc.css('//div[type="synopsis"]').text %>
            <script>
                document.getElementById('hidden-synopsis').innerHTML = '<%= escape_javascript synopsistext %>';
            </script>
        </div>
    </div>

    <!-- Analytics -->
    <div id="analytics-modal" class="shown-modal">
        <div class="modal-content">
            <span class="close2">&times;</span>
            <div class="hidden-analytics" id="hidden-analytics"></div>

            <% analyticstext = "Total Lines: ????" %>
            <script>
                document.getElementById('hidden-analytics').innerHTML = '<%= escape_javascript analyticstext %>';
            </script>
        </div>
    </div>

    <!-- Write the actual script -->
    <div class="script-main">   
        <% currAct = 1 %>
        <% currScene = 1 %>
        <% currIndex = 1 %>
        <% currN = 0 %>
        <% currID = currAct.to_s + "." + currScene.to_s + "." + currN.to_s %>

        <% acts= doc.css('//div1') %>
        <% acts.each do |act| %>
            <div class="acthead" id="current-act"> <%= Nokogiri::XML(act.to_s).css('head').first.inner_text %> <br> </div></b>
            <script>
                document.getElementById('current-act').id = '<%= escape_javascript "a" + currAct.to_s %>';
            </script>
            <% currAct = currAct + 1 %>
            <% scenes = Nokogiri::XML(act.to_s).css('//div2') %>
            <% currScene = 1 %>
            <% scenes.each do |scene| %>
                <div class="scenehead" id="current-scene"><%= Nokogiri::XML(scene.to_s).css('head').first.inner_text %></div><br>
                <script>
                    document.getElementById('current-scene').id = '<%= escape_javascript "s" + currIndex.to_s %>';
                </script>
                <% currScene = currScene + 1 %>
                <% currIndex = currIndex + 1 %>

                <% lines = Nokogiri::XML(act.to_s).css('//sp') %>
                <% stages = Nokogiri::XML(act.to_s).css('//stage') %>

                <% lines.each do |line| %>
                    <!-- Get line id -->
                    <% lineN = line.attr("xml:id").to_s.gsub("sp-","").to_f %>
                    <% stages.each do |stage| %>
                        <!-- Get stage direction id -->
                        <% stageN = stage.attr('xml:id').to_s.gsub("stg-","").to_f %>
                        <!-- If there is a stage dir that comes before the line -->
                        <% if (stageN == lineN-1) or (stageN == lineN-0.5) %>
                            <!-- display stage direction -->
                            <div class="stage"> <%= stage.inner_text %> </div> <br>
                        <% end %>
                    <% end %>
                    <div class="line"> <%= line.inner_text %> </div> <br>
                <% end %>
                <br>
            <% end%>
            <br>
        <%end%>
    </div>


    <!--
    <div id="Play">
        <p><span id="Play ID_Title" class="play" data-display="true">Play Title</span></p>
        <div id="ACT ID">
            <p><button id="ACT ID1_Title" class="act" data-cut="false" data-display="true">ACT 1</button></p>
            <div id="SCENE ID">
                <p><button id="SCENE ID1_Title" class="scene" data-cut="false" data-display="true">SCENE 1</button></p>
                <button id="Character ID1" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid1" class="word" data-cut="false" data-display="true" data-speaker="CHARACTER">theactualword</button>
            </div>
            <div id="SCENE ID">
                <p><button id="SCENE ID2_Title" class="scene" data-cut="false" data-display="true">SCENE 2</button></p>
                <button id="Character ID2" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid2" class="word" data-cut="false" data-display="false" data-speaker="CHARACTER">theactualword</button>
            </div>
        </div>
    </div>
    <div id="ACT ID">
        <p><button id="ACT ID2_Title" class="act" data-cut="false" data-display="true">ACT 2</button></p>
        <div id="SCENE ID">
            <p><button id="SCENE ID3_Title" class="scene" data-cut="false" data-display="true">SCENE 1</button></p>
            <button id="Character ID3" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid3" class="word" data-cut="false" data-display="true" data-speaker="CHARACTER">theactualword</button>
        </div>
        <div id="SCENE ID">
            <p><button id="SCENE ID4_Title" class="scene" data-cut="false" data-display="true">SCENE 2</button></p>
            <button id="Character ID4" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid4" class="word" data-cut="false" data-display="true" data-speaker="CHARACTER">theactualword</button>
        </div>
    </div> -->




    <script>

        document.querySelector("#Play").addEventListener("click", doCut, false);

        // all words will need to be printed with the div class "Play"
        // change "p" to the tag for words (not including names) and we will be able to cut only words
        function doCut(e) {
            if (e.target.id !== "Play") {
                var clickedItem = e.target;
                var word = e.target.id;
                if (clickedItem.tagName.toLowerCase() == "button") {
                    if (clickedItem.dataset.cut.toLowerCase() == "false") {
                        document.getElementById(word).style.color = "#D3D3D3";
                        //document.getElementById(word).style.text-decoration = "line-through";
                        clickedItem.dataset.cut = "true";
                    }
                    else {
                        document.getElementById(word).style.color = "#000000";
                        //document.getElementById(word).style.text-decoration = "none"
                        clickedItem.dataset.cut = "false";
                    }
                }        
            }
        };
    </script>
    <script>

        // This controls scene buttons in the navigation bar
        var sceneButtons = document.getElementsByClassName("nav-scene");
        var sceneLength = sceneButtons.length;
        for (var i = 0; i < sceneLength; i++) {
            sceneButton = sceneButtons[i];
            sceneButton.addEventListener("click", function() {showScene(sceneButton.id)}, false);
        }
        function showScene(sceneId) {
            alert(sceneId);
        }


        // This controls act buttons in the navigation bar
        var actButtons = document.getElementsByClassName("nav-act");
        var actLength = actButtons.length;
        for (var i = 0; i < actLength; i++) {
            actButton = actButtons[i];
            actButton.addEventListener("click", function() {showAct(actButton.id)}, false);
        }
        function showAct(actId) {
            alert(actId);
        }

        // This controls the synopsis button in the navigation bar
        var modal = document.getElementById("synopsis-modal");
        var btn = document.getElementById("synopsis-button");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        } 

        // This controls the analytics button in the navigation bar
        var modal2 = document.getElementById("analytics-modal");
        var btn2 = document.getElementById("analytics-button");
        var span2 = document.getElementsByClassName("close2")[0];
        btn2.onclick = function() {
            modal2.style.display = "block";
        }
        span2.onclick = function() {
            modal2.style.display = "none";
        }
        window2.onclick = function(event) {
            if (event.target == modal2) {
                modal2.style.display = "none";
            }
        } 

    </script>

</body></html>
