<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body style = "background-color: #white">
    <p id="notice"></p>

<h2><%= @play.title %></h2>
<body class = "script-main">
    <% @acts.each do |act| %>
      <h3> Act <%= act.number %> </h3>
      <% rscenes = Scene.where(:act_id => act.id).order(:number) %>
      <% rscenes.each do |scene| %>
        <h4> Scene <%= scene.number %> </h4>
        <% rlines = Line.where(:scene_id => scene.id).order(:number) %>
        <% rlines.each do |line| %>
          <p><button class ="word"> <strong><%= line.speaker %></strong> <%= line.number %> <%= line.words %> </button></p>
        <% end %>
      <% end %>
    <% end %>
</body>

<script>
    document.querySelector(".script-main").addEventListener("mousedown", drag, false);
    document.querySelector(".script-main").addEventListener("mouseover", doCut, false);
    document.querySelector(".script-main").addEventListener("mousedown", doCut, false);
    document.querySelector(".script-main").addEventListener("mouseup", lift, false);
    var mousedrag = false;
    var currId = 0;
    function drag(e)
    {
        mousedrag = true;
    }
    function lift(e)
    {
        mousedrag = false;
        currId = 0;
    }

    // all words will need to be printed within the div class "script-main"
    function doCut(e) {
        var clickedItem = e.target;
        // act
        if (clickedItem.getAttribute("class") == "acthead") {
        //    if (clickedItem.tagName.toLowerCase() == "button") {
        //
        //        // Don't cut Acts
        //        var entireAct = document.getElementById("Div" + clickedItem.id);
        //        var allChildren = entireAct.getElementsByTagName("button");
        //        if (clickedItem.dataset.cut.toLowerCase() == "false") {
        //            for (var i = 0; i < allChildren.length; i++) {
        //                allChildren[i].style.color = "#D3D3D3";
        //                allChildren[i].style.textDecoration = "line-through";
        //                allChildren[i].dataset.cut = "true";
        //            }
        //            //clickedItem.style.color = "#D3D3D3";
        //            //clickedItem.style.textDecoration = "line-through";
        //            clickedItem.dataset.cut = "true";
        //        }
        //        // perform uncut
        //        else {
        //            for (var i = 0; i < allChildren.length; i++) {
        //                allChildren[i].style.color = "#000000";
        //                allChildren[i].style.textDecoration = "none";
        //                allChildren[i].dataset.cut = "false";
        //            }
        //            // clickedItem.style.color = "#000000";
        //            // clickedItem.style.textDecoration = "none";
        //            clickedItem.dataset.cut = "false";
        //        }
        //    }    
        }
        // scene
        else if (clickedItem.getAttribute("class") == "scenehead") {
        //    if (clickedItem.tagName.toLowerCase() == "button") {
        //        // perform cut
        //        var entireScene = document.getElementById("Div" + clickedItem.id);
        //        var allChildren = entireScene.getElementsByTagName("button");
        //        if (clickedItem.dataset.cut.toLowerCase() == "false") {
        //            for (var i = 0; i < allChildren.length; i++) {
        //                allChildren[i].style.color = "#D3D3D3";
        //                allChildren[i].style.textDecoration = "line-through";
        //                allChildren[i].dataset.cut = "true";
        //            }
        //            //clickedItem.style.color = "#D3D3D3";
        //            //clickedItem.style.textDecoration = "line-through";
        //            clickedItem.dataset.cut = "true";
        //        }
        //        // perform uncut
        //        else {
        //            for (var i = 0; i < allChildren.length; i++) {
        //                allChildren[i].style.color = "#000000";
        //                allChildren[i].style.textDecoration = "none";
        //                allChildren[i].dataset.cut = "false";
        //            }
        //            //clickedItem.style.color = "#000000";
        //            //clickedItem.style.textDecoration = "none";
        //            clickedItem.dataset.cut = "false";
        //        }
        //    }    
        }
        // stage
        else if (clickedItem.getAttribute("class") == "stage") {
            if (clickedItem.tagName.toLowerCase() == "button") {
                if (mousedrag && !e.shiftKey) {
                    clickedItem.style.color = "#D3D3D3";
                    clickedItem.style.textDecoration = "line-through";
                    clickedItem.dataset.cut = "true";
                }
                else if(e.shiftKey && mousedrag) {
                    clickedItem.style.color = "#000000";
                    clickedItem.style.textDecoration = "none";
                    clickedItem.dataset.cut = "false";
                }
            }    
        }
        // line
        else if (clickedItem.getAttribute("class") == "word" || clickedItem.getAttribute("class") == "punc") {
            if (clickedItem.tagName.toLowerCase() == "button") {
                if (mousedrag && !e.shiftKey) {
                    console.log("What's up youtube");
                    clickedItem.style.color = "#D3D3D3";
                    clickedItem.style.textDecoration = "line-through";
                    clickedItem.dataset.cut = "true";
                    if(currId != 0)
                    {
                        console.log(clickedItem.id.to_s);
                        /*var intId = numeralize(clickedItem.id);
                        console.log(intId);
                        //wrap(id);
                        currId = intId;*/
                    }
                    else
                    {
                        console.log(clickedItem.id.to_s);
                        /*var intId = numeralize(clickedItem.id);
                        console.log(intId);
                        currId = intId;*/
                    }
                }
                else if(e.shiftKey && mousedrag){
                    clickedItem.style.color = "#000000";
                    clickedItem.style.textDecoration = "none";
                    clickedItem.dataset.cut = "false";
                    if(currId != 0)
                    {
                        console.log(clickedItem.id.to_s);
                        /*var intId = numeralize(clickedItem.id);
                        console.log(intId);
                        //wrap(id);
                        currId = intId;*/
                    }
                    else
                    {
                        console.log(clickedItem.id.to_s);
                        /*var intId = numeralize(clickedItem.id);
                        console.log(intId);
                        currId = intId;*/
                    }
                }
            }    
        }
    };
</script>

</body></html>
