
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body style = "background-color: #faebd7">
    <p id="notice"></p>

    <!-- 
        Parse the XML file for number of acts & scenes in order to 
        create the navigation bar 
    -->
    <div class="script-side-bar">
        <div class="play-navigation">

            <!-- This button shows the play's synopsis -->
            <button class="nav-synopsis" id="synopsis-button">SYNOPSIS</button>

            <!-- This button shows the play's analytics -->
            <button class="nav-analytics" id="analytics-button">ANALYTICS</button>

            <!-- Create a button for each act and scene in the play -->
            <% currAct = 1 %>
            <% currScene = 1 %>
            <% currIndex = 1 %>
            <% @acts.each do |act| %>
                <button class="nav-act" id="current-act"><%= "ACT " + currAct.to_s %></button>
                <script>
                    document.getElementById('current-act').id = '<%= escape_javascript "na" + currAct.to_s %>';
                </script>
                <% currAct = currAct + 1 %>
                <% currScene = 1 %>
            <%end%>
        </div>
    </div>


    <!-- 
        The synopsis will show up here as a popup 
    -->  
    <div id="synopsis-modal" class="shown-modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="hidden-synopsis" id="hidden-synopsis"></div>
        </div>
    </div>


    <!-- 
        The analytics will show up here as a popup 
    -->
    <div id="analytics-modal" class="shown-modal">
        <div class="modal-content">
            <span class="close2">&times;</span>
            <div class="hidden-analytics" id="hidden-analytics"></div>
            <% analyticstext = "Total Lines: ????" %>
            <script>
                document.getElementById('hidden-analytics').innerHTML = '<%= escape_javascript analyticstext %>';
            </script>
        </div>
    </div>
        

    <!-- 
        Parse the XML file for number of acts & scenes in order to 
        create the navigation bar 
    -->
    <div class="script-side-bar">
        <div class="play-navigation">

            <!-- This button shows the play's synopsis -->
            <button class="nav-synopsis" id="synopsis-button">SYNOPSIS</button>

            <!-- This button shows the play's analytics -->
            <button class="nav-analytics" id="analytics-button">ANALYTICS</button>

            <!-- Create a button for each act and scene in the play -->
            <% currAct = 1 %>
            <% currScene = 1 %>
            <% currIndex = 1 %>
            <% @acts.each do |act| %>
                <button class="nav-act" id="current-act"><%= "ACT " + currAct.to_s %></button>
                <script>
                    document.getElementById('current-act').id = '<%= escape_javascript "na" + currAct.to_s %>';
                </script>
                <% currAct = currAct + 1 %>
                <% currScene = 1 %>
            <%end%>
        </div>
    </div>


    <!-- 
        The synopsis will show up here as a popup 
    -->  
    <div id="synopsis-modal" class="shown-modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="hidden-synopsis" id="hidden-synopsis"></div>
        </div>
    </div>


    <!-- 
        The analytics will show up here as a popup 
    -->
    <div id="analytics-modal" class="shown-modal">
        <div class="modal-content">
            <span class="close2">&times;</span>
            <div class="hidden-analytics" id="hidden-analytics"></div>
            <% analyticstext = "Total Lines: ????" %>
            <script>
                document.getElementById('hidden-analytics').innerHTML = '<%= escape_javascript analyticstext %>';
            </script>
        </div>
    </div>

    <div class="script-main"> 
        <% @acts.each do |act| %>
            <div class="actDiv" id="Diva"><button class="acthead" id="current-act" data-display="true"> Act <%= act.number %> </button><br></b>
             <% rscenes = Scene.joins(:act).where(:act_id => act.id).order(:number) %>
             <% rscenes.each do |scene| %>
                <br>
                <div class="sceneDiv" id="Divs"><button class="scenehead" id="current-scene" data-display="true"> Scene <%= scene.number %> </button><br>
                <% rlines = Line.joins(:scene).where(:scene_id => scene.id).order(:number) %>
                <% currentSpeaker = "" %>
                <% rlines.each do |line| %>
                    <% if line.isStage %>
                        <button class="stage" data-cut="false" data-display="true"> <%= line.words.first.text %> </button> <br>
                    <% else %>
                        <% words = Word.joins(:line).where(:line_id => line.id).order(:place) %>
                        <% string = "" %>
                        <% Line.preload(:words) %>
                    <p>
                        <% if (currentSpeaker != line.speaker) %>
                            <% currentSpeaker = line.speaker %>
                            <br> <p class="speaker"> <%= line.speaker %> </p> <br>
                        <% end %>
                        <p class="lineNum"><%= line.number %></p>
                        <% words.each do |word| %>
                        <button class ="word" data-cut="false" data-display="true">
                            <%= word.text %>
                        </button>
                    <% end %>
                    </p>
                <% end %>
            <% end %>
            <% end %>
            </div>
        <% end %>
        </div>
    </div>

    <script>
        document.querySelector(".script-main").addEventListener("mousedown", drag, false);
        document.querySelector(".script-main").addEventListener("mouseover", doCut, false);
        document.querySelector(".script-main").addEventListener("mousedown", doCut, false);
        document.querySelector(".script-main").addEventListener("mouseup", lift, false);
        var mousedrag = false;
        var currId = 0;
        function drag(e)
        {
            mousedrag = true;
        }
        function lift(e)
        {
            mousedrag = false;
            currId = 0;
        }
        /*function numDigits(i)
        {
            console.log("numDigits");
            if(i >= 1000)
            {
                if(i >= 10000)
                {
                    if(i >= 100000)
                    {
                        if(i >= 1000000)
                        {
                            return 7;
                        }
                        return 6;
                    }
                    return 5;
                }
                return 4;
            }
            else if(i >= 1)
            {
                if(i >= 10)
                {
                    if(i >= 100)
                    {
                        return 3;
                    }
                    return 2;
                }
                return 1;
            }
            return 0;
        }*/
        function numeralize(s)
        {
            console.log("Numeralize id:")
            console.log(s);
            var intString = i.substr(1);
            return parseInt(intString);
        }
        /*function wrap(i)
        {
            console.log("Wrapping");
            for(;i != currId;i -= 10)
            {
                var digits = numDigits(i);
                var checkId = "";
                for(int j = 0;j < digits;++j)
                {
                    checkId.concat("0");
                }
                var stringId = toString(i);
                checkId.concat(stringId);
                var w = "w";
                var c = "c";
                if(document.getElementById(w.concat(checkId)) != null || document.getElementById(c.concat(checkId)) != null)
                {
                    var wrappedElement = document.getElementById(w.concat(checkId));
                    if (clickedItem.dataset.cut.toLowerCase() == "false" && !e.shiftKey) {
                        clickedItem.style.color = "#D3D3D3";
                        clickedItem.style.textDecoration = "line-through";
                        clickedItem.dataset.cut = "true";
                    }
                    else if(e.shiftKey){
                        clickedItem.style.color = "#000000";
                        clickedItem.style.textDecoration = "none";
                        clickedItem.dataset.cut = "false";
                    }
                }
            }
            console.log("Wrapping ending");
        } */
        // all words will need to be printed within the div class "script-main"
        function doCut(e) {
            var clickedItem = e.target;
            // act
            if (clickedItem.getAttribute("class") == "acthead") {
            //    if (clickedItem.tagName.toLowerCase() == "button") {
            //
            //        // Don't cut Acts
            //        var entireAct = document.getElementById("Div" + clickedItem.id);
            //        var allChildren = entireAct.getElementsByTagName("button");
            //        if (clickedItem.dataset.cut.toLowerCase() == "false") {
            //            for (var i = 0; i < allChildren.length; i++) {
            //                allChildren[i].style.color = "#D3D3D3";
            //                allChildren[i].style.textDecoration = "line-through";
            //                allChildren[i].dataset.cut = "true";
            //            }
            //            //clickedItem.style.color = "#D3D3D3";
            //            //clickedItem.style.textDecoration = "line-through";
            //            clickedItem.dataset.cut = "true";
            //        }
            //        // perform uncut
            //        else {
            //            for (var i = 0; i < allChildren.length; i++) {
            //                allChildren[i].style.color = "#000000";
            //                allChildren[i].style.textDecoration = "none";
            //                allChildren[i].dataset.cut = "false";
            //            }
            //            // clickedItem.style.color = "#000000";
            //            // clickedItem.style.textDecoration = "none";
            //            clickedItem.dataset.cut = "false";
            //        }
            //    }    
            }
            // scene
            else if (clickedItem.getAttribute("class") == "scenehead") {
            //    if (clickedItem.tagName.toLowerCase() == "button") {
            //        // perform cut
            //        var entireScene = document.getElementById("Div" + clickedItem.id);
            //        var allChildren = entireScene.getElementsByTagName("button");
            //        if (clickedItem.dataset.cut.toLowerCase() == "false") {
            //            for (var i = 0; i < allChildren.length; i++) {
            //                allChildren[i].style.color = "#D3D3D3";
            //                allChildren[i].style.textDecoration = "line-through";
            //                allChildren[i].dataset.cut = "true";
            //            }
            //            //clickedItem.style.color = "#D3D3D3";
            //            //clickedItem.style.textDecoration = "line-through";
            //            clickedItem.dataset.cut = "true";
            //        }
            //        // perform uncut
            //        else {
            //            for (var i = 0; i < allChildren.length; i++) {
            //                allChildren[i].style.color = "#000000";
            //                allChildren[i].style.textDecoration = "none";
            //                allChildren[i].dataset.cut = "false";
            //            }
            //            //clickedItem.style.color = "#000000";
            //            //clickedItem.style.textDecoration = "none";
            //            clickedItem.dataset.cut = "false";
            //        }
            //    }    
            }
            // stage
            else if (clickedItem.getAttribute("class") == "stage") {
                if (clickedItem.tagName.toLowerCase() == "button") {
                    if (clickedItem.dataset.cut.toLowerCase() == "false" && mousedrag && !e.shiftKey) {
                        clickedItem.style.color = "#D3D3D3";
                        clickedItem.style.textDecoration = "line-through";
                        clickedItem.dataset.cut = "true";
                    }
                    else if(e.shiftKey && mousedrag) {
                        clickedItem.style.color = "#000000";
                        clickedItem.style.textDecoration = "none";
                        clickedItem.dataset.cut = "false";
                    }
                }    
            }
            // line
            else if (clickedItem.getAttribute("class") == "word" || clickedItem.getAttribute("class") == "punc") {
                if (clickedItem.tagName.toLowerCase() == "button") {
                    if (clickedItem.dataset.cut.toLowerCase() == "false" && mousedrag && !e.shiftKey) {
                        clickedItem.style.color = "#D3D3D3";
                        clickedItem.style.textDecoration = "line-through";
                        clickedItem.dataset.cut = "true";
                        if(currId != 0)
                        {
                            console.log(clickedItem.id.to_s);
                            /*var intId = numeralize(clickedItem.id);
                            console.log(intId);
                            //wrap(id);
                            currId = intId;*/
                        }
                        else
                        {
                            console.log(clickedItem.id.to_s);
                            /*var intId = numeralize(clickedItem.id);
                            console.log(intId);
                            currId = intId;*/
                        }
                    }
                    else if(e.shiftKey && mousedrag){
                        clickedItem.style.color = "#000000";
                        clickedItem.style.textDecoration = "none";
                        clickedItem.dataset.cut = "false";
                        if(currId != 0)
                        {
                            console.log(clickedItem.id.to_s);
                            /*var intId = numeralize(clickedItem.id);
                            console.log(intId);
                            //wrap(id);
                            currId = intId;*/
                        }
                        else
                        {
                            console.log(clickedItem.id.to_s);
                            /*var intId = numeralize(clickedItem.id);
                            console.log(intId);
                            currId = intId;*/
                        }
                    }
                }    
            }
        };
    </script>



    <script>
        /** 
         * This controls scene buttons in the navigation bar
         */
        var sceneButtons = document.getElementsByClassName("nav-scene");
        var sceneLength = sceneButtons.length;
        for (var i = 0; i < sceneLength; i++) {
            sceneButton = sceneButtons[i];
            sceneButton.addEventListener("click", showScene, false);
        }
        function showScene(scene) {
            var allScenes = document.getElementsByClassName("scenehead");
            for (var i = 0; i < allScenes.length; i++) {
                if (("n" + allScenes[i].id) == scene.target.id) {
                    allScenes[i].style.backgroundColor = "yellow";
                    window.location.hash = allScenes[i].id;
                }
                else {
                    allScenes[i].style.backgroundColor = "transparent";
                }
            }
            var allActs = document.getElementsByClassName("acthead");
            for (var i = 0; i < allActs.length; i++) {
                allActs[i].style.backgroundColor = "transparent";
            }
        }
        /** 
         * This controls act buttons in the navigation bar
         */
        var actButtons = document.getElementsByClassName("nav-act");
        var actLength = actButtons.length;
        for (var i = 0; i < actLength; i++) {
            actButton = actButtons[i];
            actButton.addEventListener("click", showAct, false);
        }
        function showAct(act) {
            var allActs = document.getElementsByClassName("acthead");
            for (var i = 0; i < allActs.length; i++) {
                if (("n" + allActs[i].id) == act.target.id) {
                    allActs[i].style.backgroundColor = "yellow";
                    window.location.hash = allActs[i].id;
                }
                else {
                    allActs[i].style.backgroundColor = "transparent";
                }
            }
            var allScenes = document.getElementsByClassName("scenehead");
            for (var i = 0; i < allScenes.length; i++) {
                allScenes[i].style.backgroundColor = "transparent";
            }
        }
        /** 
         * This controls the synopsis button in the navigation bar.
         */
        var modal = document.getElementById("synopsis-modal");
        var btn = document.getElementById("synopsis-button");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        /** 
         * This controls the analytics button in the navigation bar.
         */
        var modal2 = document.getElementById("analytics-modal");
        var btn2 = document.getElementById("analytics-button");
        var span2 = document.getElementsByClassName("close2")[0];
        btn2.onclick = function() {
            modal2.style.display = "block";
        }
        span2.onclick = function() {
            modal2.style.display = "none";
        }
        /**
         * This closes the modals if the user clicks outside of either 
         * the synopsis or analytics modal.
         */
        window.onclick = function(event) {
            if (event.target == modal2) {
                modal2.style.display = "none";
            }
            if (event.target == modal) {
                modal.style.display = "none";
            }
        } 
    </script>

    </div>

    <script>
        document.querySelector(".script-main").addEventListener("mousedown", drag, false);
        document.querySelector(".script-main").addEventListener("mouseover", doCut, false);
        document.querySelector(".script-main").addEventListener("mousedown", doCut, false);
        document.querySelector(".script-main").addEventListener("mouseup", lift, false);
        var mousedrag = false;
        var currId = 0;
        function drag(e)
        {
            mousedrag = true;
        }
        function lift(e)
        {
            mousedrag = false;
            currId = 0;
        }
        /*function numDigits(i)
        {
            console.log("numDigits");
            if(i >= 1000)
            {
                if(i >= 10000)
                {
                    if(i >= 100000)
                    {
                        if(i >= 1000000)
                        {
                            return 7;
                        }
                        return 6;
                    }
                    return 5;
                }
                return 4;
            }
            else if(i >= 1)
            {
                if(i >= 10)
                {
                    if(i >= 100)
                    {
                        return 3;
                    }
                    return 2;
                }
                return 1;
            }
            return 0;
        }*/
        function numeralize(s)
        {
            console.log("Numeralize id:")
            console.log(s);
            var intString = i.substr(1);
            return parseInt(intString);
        }
        /*function wrap(i)
        {
            console.log("Wrapping");
            for(;i != currId;i -= 10)
            {
                var digits = numDigits(i);
                var checkId = "";
                for(int j = 0;j < digits;++j)
                {
                    checkId.concat("0");
                }
                var stringId = toString(i);
                checkId.concat(stringId);
                var w = "w";
                var c = "c";
                if(document.getElementById(w.concat(checkId)) != null || document.getElementById(c.concat(checkId)) != null)
                {
                    var wrappedElement = document.getElementById(w.concat(checkId));
                    if (clickedItem.dataset.cut.toLowerCase() == "false" && !e.shiftKey) {
                        clickedItem.style.color = "#D3D3D3";
                        clickedItem.style.textDecoration = "line-through";
                        clickedItem.dataset.cut = "true";
                    }
                    else if(e.shiftKey){
                        clickedItem.style.color = "#000000";
                        clickedItem.style.textDecoration = "none";
                        clickedItem.dataset.cut = "false";
                    }
                }
            }
            console.log("Wrapping ending");
        } */
        // all words will need to be printed within the div class "script-main"
        function doCut(e) {
            var clickedItem = e.target;
            // act
            if (clickedItem.getAttribute("class") == "acthead") {
            //    if (clickedItem.tagName.toLowerCase() == "button") {
            //
            //        // Don't cut Acts
            //        var entireAct = document.getElementById("Div" + clickedItem.id);
            //        var allChildren = entireAct.getElementsByTagName("button");
            //        if (clickedItem.dataset.cut.toLowerCase() == "false") {
            //            for (var i = 0; i < allChildren.length; i++) {
            //                allChildren[i].style.color = "#D3D3D3";
            //                allChildren[i].style.textDecoration = "line-through";
            //                allChildren[i].dataset.cut = "true";
            //            }
            //            //clickedItem.style.color = "#D3D3D3";
            //            //clickedItem.style.textDecoration = "line-through";
            //            clickedItem.dataset.cut = "true";
            //        }
            //        // perform uncut
            //        else {
            //            for (var i = 0; i < allChildren.length; i++) {
            //                allChildren[i].style.color = "#000000";
            //                allChildren[i].style.textDecoration = "none";
            //                allChildren[i].dataset.cut = "false";
            //            }
            //            // clickedItem.style.color = "#000000";
            //            // clickedItem.style.textDecoration = "none";
            //            clickedItem.dataset.cut = "false";
            //        }
            //    }    
            }
            // scene
            else if (clickedItem.getAttribute("class") == "scenehead") {
            //    if (clickedItem.tagName.toLowerCase() == "button") {
            //        // perform cut
            //        var entireScene = document.getElementById("Div" + clickedItem.id);
            //        var allChildren = entireScene.getElementsByTagName("button");
            //        if (clickedItem.dataset.cut.toLowerCase() == "false") {
            //            for (var i = 0; i < allChildren.length; i++) {
            //                allChildren[i].style.color = "#D3D3D3";
            //                allChildren[i].style.textDecoration = "line-through";
            //                allChildren[i].dataset.cut = "true";
            //            }
            //            //clickedItem.style.color = "#D3D3D3";
            //            //clickedItem.style.textDecoration = "line-through";
            //            clickedItem.dataset.cut = "true";
            //        }
            //        // perform uncut
            //        else {
            //            for (var i = 0; i < allChildren.length; i++) {
            //                allChildren[i].style.color = "#000000";
            //                allChildren[i].style.textDecoration = "none";
            //                allChildren[i].dataset.cut = "false";
            //            }
            //            //clickedItem.style.color = "#000000";
            //            //clickedItem.style.textDecoration = "none";
            //            clickedItem.dataset.cut = "false";
            //        }
            //    }    
            }
            // stage
            else if (clickedItem.getAttribute("class") == "stage") {
                if (clickedItem.tagName.toLowerCase() == "button") {
                    if (clickedItem.dataset.cut.toLowerCase() == "false" && mousedrag && !e.shiftKey) {
                        clickedItem.style.color = "#D3D3D3";
                        clickedItem.style.textDecoration = "line-through";
                        clickedItem.dataset.cut = "true";
                    }
                    else if(e.shiftKey && mousedrag) {
                        clickedItem.style.color = "#000000";
                        clickedItem.style.textDecoration = "none";
                        clickedItem.dataset.cut = "false";
                    }
                }    
            }
            // line
            else if (clickedItem.getAttribute("class") == "word" || clickedItem.getAttribute("class") == "punc") {
                if (clickedItem.tagName.toLowerCase() == "button") {
                    if (clickedItem.dataset.cut.toLowerCase() == "false" && mousedrag && !e.shiftKey) {
                        clickedItem.style.color = "#D3D3D3";
                        clickedItem.style.textDecoration = "line-through";
                        clickedItem.dataset.cut = "true";
                        if(currId != 0)
                        {
                            console.log(clickedItem.id.to_s);
                            /*var intId = numeralize(clickedItem.id);
                            console.log(intId);
                            //wrap(id);
                            currId = intId;*/
                        }
                        else
                        {
                            console.log(clickedItem.id.to_s);
                            /*var intId = numeralize(clickedItem.id);
                            console.log(intId);
                            currId = intId;*/
                        }
                    }
                    else if(e.shiftKey && mousedrag){
                        clickedItem.style.color = "#000000";
                        clickedItem.style.textDecoration = "none";
                        clickedItem.dataset.cut = "false";
                        if(currId != 0)
                        {
                            console.log(clickedItem.id.to_s);
                            /*var intId = numeralize(clickedItem.id);
                            console.log(intId);
                            //wrap(id);
                            currId = intId;*/
                        }
                        else
                        {
                            console.log(clickedItem.id.to_s);
                            /*var intId = numeralize(clickedItem.id);
                            console.log(intId);
                            currId = intId;*/
                        }
                    }
                }    
            }
        };
    </script>



    <script>
        /** 
         * This controls scene buttons in the navigation bar
         */
        var sceneButtons = document.getElementsByClassName("nav-scene");
        var sceneLength = sceneButtons.length;
        for (var i = 0; i < sceneLength; i++) {
            sceneButton = sceneButtons[i];
            sceneButton.addEventListener("click", showScene, false);
        }
        function showScene(scene) {
            var allScenes = document.getElementsByClassName("scenehead");
            for (var i = 0; i < allScenes.length; i++) {
                if (("n" + allScenes[i].id) == scene.target.id) {
                    allScenes[i].style.backgroundColor = "yellow";
                    window.location.hash = allScenes[i].id;
                }
                else {
                    allScenes[i].style.backgroundColor = "transparent";
                }
            }
            var allActs = document.getElementsByClassName("acthead");
            for (var i = 0; i < allActs.length; i++) {
                allActs[i].style.backgroundColor = "transparent";
            }
        }
        /** 
         * This controls act buttons in the navigation bar
         */
        var actButtons = document.getElementsByClassName("nav-act");
        var actLength = actButtons.length;
        for (var i = 0; i < actLength; i++) {
            actButton = actButtons[i];
            actButton.addEventListener("click", showAct, false);
        }
        function showAct(act) {
            var allActs = document.getElementsByClassName("acthead");
            for (var i = 0; i < allActs.length; i++) {
                if (("n" + allActs[i].id) == act.target.id) {
                    allActs[i].style.backgroundColor = "yellow";
                    window.location.hash = allActs[i].id;
                }
                else {
                    allActs[i].style.backgroundColor = "transparent";
                }
            }
            var allScenes = document.getElementsByClassName("scenehead");
            for (var i = 0; i < allScenes.length; i++) {
                allScenes[i].style.backgroundColor = "transparent";
            }
        }
        /** 
         * This controls the synopsis button in the navigation bar.
         */
        var modal = document.getElementById("synopsis-modal");
        var btn = document.getElementById("synopsis-button");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        /** 
         * This controls the analytics button in the navigation bar.
         */
        var modal2 = document.getElementById("analytics-modal");
        var btn2 = document.getElementById("analytics-button");
        var span2 = document.getElementsByClassName("close2")[0];
        btn2.onclick = function() {
            modal2.style.display = "block";
        }
        span2.onclick = function() {
            modal2.style.display = "none";
        }
        /**
         * This closes the modals if the user clicks outside of either 
         * the synopsis or analytics modal.
         */
        window.onclick = function(event) {
            if (event.target == modal2) {
                modal2.style.display = "none";
            }
            if (event.target == modal) {
                modal.style.display = "none";
            }
        } 
    </script>

</body></html>