<h2><%= @play.title %></h2>
<% @acts.each do |act| %>
  <h3> Act <%= act.number %> </h3>
  <% rscenes = Scene.where(:act_id => act.id).order(:number) %>
  <% rscenes.each do |scene| %>
    <h4> Scene <%= scene.number %> </h4>
    <% rlines = Line.where(:scene_id => scene.id).order(:number) %>
    <% rlines.each do |line| %>
      <h5> <strong><%= line.speaker %></strong> <%= line.number %> <%= line.words %> </h5>
    <% end %>
  <% end %>
<% end %>
