<p id="notice"><%= notice %></p>

<h1>Edit Plays</h1>

<table>
  <thead>
    <tr>
      <th>Play</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @edit_plays.each do |edit_play| %>
      <tr>
        <td><%= edit_play.play %></td>
        <td><%= link_to 'Show', edit_play %></td>
        <td><%= link_to 'Edit', edit_edit_play_path(edit_play) %></td>
        <td><%= link_to 'Destroy', edit_play, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Edit Play', new_edit_play_path %>
