<!-- This file controls the view for the website's front page.
It can be found at app/views/home/homepage.html.erb -->

<!-- This file uses the app/assets/stylesheets/home.scss file for controlling its css. -->

<!DOCTYPE html>
<html>
	<head>
		<title>HMC Script Editor</title>
		<link rel="stylesheet" type=text/css" style = "color: #FDEDD9" href="home.scss"/>
	</head>

	<!-- Here is where we set the tan color that is the background color for the page.
	It needs to be set here to work. It does not work when set in the .scss file. -->
	<body >
  <div class="img-wrapper">
    <%= image_tag("candle.jpg", class: "img-fluid", alt: "Responsive image") %>
    <div class="img-overlay">
      <div class="container">
        <div class="row">
          <div class="slide-text slide_style_left">
            <h1 data-animation="animated zoomInRight">shakespeare script editor</h1>
            <p data-animation="animated fadeInLeft">A collaborative thespian experience </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!--<div class="img-wrapper">-->
      <!--<%= image_tag("candle.jpg", class: "img-fluid", alt: "Responsive image") %>-->
    <!--</div>-->
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 alt-grid project wow animated animated4 fadeInLeft flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="project-hover">
          <h2>Comedy</h2>

          <hr />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
          <a href="#">See Plays</a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4  alt-grid project project-3 wow animated animated2 fadeInLeft">
        <div class="project-hover">
          <h2>Histories</h2>
          <hr />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
          <a href="#">See Plays</a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 alt-grid project project-4 wow animated fadeInLeft">
        <div class="project-hover">
          <h2>Tragities</h2>
          <hr />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
          <a href="#">See Plays</a>
        </div>
      </div>
      <div class="clearfix"></div>
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-4"><%= image_tag("comedymask.jpeg", class: "img-fluid", alt: "Responsive image") %></div>-->
      <!--<div class="col-md-4"><%= image_tag("Historical.png", class: "img-fluid", alt: "Responsive image") %></div>-->
      <!--<div class="col-md-4"><%= image_tag("tragity.jpg", class: "img-fluid", alt: "Responsive image") %></div>-->
    <!--</div>-->
  <!--</div>-->

		<br />

		<ul id="plays-history-nav-bar">
			<h2>Histories</h2>
			<hr style = "background-color: #faebd7"></hr>
			<% @plays = Play.where(:category => 0) %>
			<% @plays.each do |play| %>
				<li class = "play-title">
					<%= link_to play.title, play_path(play)%>
				</li><br>
			<% end %>
		</ul>

		<ul id="plays-comedy-nav-bar">
		    <h2>Comedies</h2>
			<hr style = "background-color: #faebd7"></hr>
			<% @plays = Play.where(:category => 1) %>
			<% @plays.each do |play| %>
				<li class = "play-title">
					<%= link_to play.title, play_path(play)%>
				</li><br>
			<% end %>
			</ul>

		<ul id="plays-tragedy-nav-bar">
		    <h2>Tragedies</h2>
			<hr style = "background-color: #faebd7"></hr>
			<% @plays = Play.where(:category => 2) %>
			<% @plays.each do |play| %>
				<li class = "play-title">
					<%= link_to play.title, play_path(play)%>
				</li><br>
			<% end %>
			</ul>
	</body>
</html>
