<!-- This file controls the view for the website's bootstrap navigation bar.
It can be found at app/views/layouts/application.html.erb -->

<!-- The navigation bar of this website can be found at the following link:
https://github.com/twbs/bootstrap-sass -->

<!DOCTYPE html>
<html>
<head>
  <title>HMC Shakespeare Script Editor</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar  fixed-top navbar-expand-md navbar-light bg-faded" style="background-color: whitesmoke;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "Amanuensis", root_url, class:"navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "About", pages_about_path, class:"nav-link" %>
      </li>
      <%- if current_user %>
        <li class = "nav-item">
          <%= link_to "My Profile", current_user , class:"nav-link" %>
        </li>
        <li class = "nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, data:{ confirm: "Are you sure?" } , class:"nav-link" %>
        </li>
        <!-- The contents of the else block will only be displayed if the current user is not logged in. -->
      <% else %>
        <li class = "nav-item">
          <%= link_to "Login", new_user_session_path , class:"nav-link" %>
        </li>
        <li class = "nav-item">
          <%= link_to "Register", new_user_registration_path , class:"nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>



        <!-- Page Content -->

                    <% flash.each do |a, b| %>`
                        <div class='alert alert-success'> <%= b %> </div>
                    <% end %>
                    <%= yield %>
        <!-- /.container -->
    </body>
    <!--</html>-->

