<!-- This file controls the view for the website's bootstrap navigation bar.
It can be found at app/views/layouts/application.html.erb -->

<!-- The navigation bar of this website can be found at the following link:
https://github.com/twbs/bootstrap-sass -->

<!DOCTYPE html>
<html>
<head>
  <title>HMC Shakespeare Script Editor</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to "HMC Shakespeare Editor", root_url, class: "navbar-brand" %>
                </div>
                <!-- Collect the nav links, forms, and other content for navigation. -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class = "nav-text">
                            <%= link_to "About", pages_about_path %>
                        </li class = "nav-text">

                        <!-- The contents of the if block will only be displayed if the current user is logged in. -->
                        <%- if current_user %>
                        <li class = "nav-text">
                            <%= link_to "My Profile", current_user %>
                        </li class = "nav-text">
                        <li class = "nav-text">
                            <%= link_to "Logout", destroy_user_session_path, method: :delete, data:{ confirm: "Are you sure?" } %>
                        </li class = "nav-text">

                        <!-- The contents of the else block will only be displayed if the current user is not logged in. -->
                        <% else %>
                        <li class = "nav-text">
                            <%= link_to "Login", new_user_session_path %>
                        </li>
                        <li class = "nav-text">
                            <%= link_to "Register", new_user_registration_path %>
                        </li>
                        <% end %>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <% flash.each do |a, b| %>
                        <div class='alert alert-success'> <%= b %> </div>
                    <% end %>
                    <%= yield %>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
      <style>body{padding-top:70px;}</style>
    </body>
    </html>

