<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Character</th>
        <th scope="col"># Line numbers</th>
      </tr>
      </thead>
      <!--this data needs to be loaded from a different page or a json object sent from the server-->
      <tbody>
      <% @hash.each do |speaker| %>
        <% a = speaker %>
        <% spk = a[0] %>
        <% lineNum = a[1] %>
        <tr>
          <td> <%= spk %></td>
          <td> <%= lineNum.to_s() %></td>
        </tr>
      <% end %>
      </tbody>
    </table>


  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select Cue Script</label>
      <select class="form-control" id="queScriptNameSelector">
        <option value="EGEON" >Egeon</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <button type="button" class="btn btn-primary" id="cueScriptSelect">Generate Cue Script</button>

  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col"></th>
        <% @matrixData[0].each do |charName|%>
          <th scope="col" style="font-size: 10px"><%= charName %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @matrixData[1].each_with_index do |rowArr , index|%>
        <tr>
          <th scope="row" style="font-size: 10px"><%= @matrixData[0][index] %></th>
          <% rowArr.each do |data|%>
            <td><%= data %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>





    <% if false %>


      <%= @matrixData[0] %>

        <% @matrixData.each do |obj|%>
          <!--so becuase of the data structer that we choose this coode is hella hacky but hell shit happens -->
          <% obj.each do |inner|%>
            <!--terrible var names I know-->



              <% if inner.class == String %>
                <th scope="col"><%= inner %></th>

              <% else %>
                lol
              <% end %>
            </tr>
            </thead>
          <% end %>
        <% end %>
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>





        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>

          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
        </table>
      <% end %>
    </div>
</div>


